extends _layout
block content
  div 
    a(href="./2.pug") 07-self-order
    a(href="./3.pug")  Margin-auto
    a(href="./4.pug")  Center
    a(href="./5.pug")  画像つきリスト
    a(href="./6.pug")  3カラムレイアウト
  .container.a
    .box.box-1 1
    .box.box-2 2
    .box.box-3 3
    .box.box-4 4
    .box.box-5 5